[Unit]
Description=Grafana Frontend Dashboard
After=postgresql.service cea-backend.service network-online.target
Wants=postgresql.service
OnFailure=service-error-handler@%n.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/antoine/Project CEA/Infrastructure/frontend
ExecStart=/usr/sbin/grafana-server --config=/etc/grafana/grafana.ini --pidfile=/var/run/grafana-server.pid
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

