[Unit]
Description=Service Error Handler for %i
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/antoine/Project CEA/service_error_handler.sh %i
StandardOutput=journal
StandardError=journal

